<a href="https://colab.research.google.com/github/barsamnia/algorithm_curses_raofi/blob/main/oop_knauf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

class knauf():
  def __init__(self, nabshi = None , f_47 = None , u_36 = None , panel = None, pich_panel = None, pich_saze = None ,mikh_chashni =None , ht_90 = None, beraket = None, clips = None, rabet_w = None, metrazh = int ,m_aviz = int , name_p = str, rolplak = None):

    self.nabshi = nabshi
    self.f_47 = f_47
    self.u_36 = u_36
    self.panel = panel
    self.pich_panel = pich_panel
    self.pich_saze = pich_saze
    self.mikh_chashni = mikh_chashni
    self.ht_90 = ht_90
    self.beraket = beraket
    self.clips = clips
    self.rabet_w = rabet_w
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p
    self.rolplak = rolplak
    #self.ceiling_typeA()

  def __repr__(self):
    """
    Returns:show defined class with getting data
    """
    return 'knauf project {}, metrazh {} metr, andaze aviz {} cm '.format(self.name_p,self.metrazh,self.m_aviz)


  def get_data(self):
    try :
            metrazh = int(input( "metrazh_kar  : metr  "))
    except :
            metrazh = int(input( "metrazh_kar  : metr  "))

    try :
            m_aviz = int(input("andaze aviz : cm  "))
    except :
            m_aviz = int(input("andaze aviz : cm  "))

    try :
            name_p = str(input("name proje :  "))
    except :
            name_p = str(input("name proje :  "))

    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p

  def ceiling_typeA(self):
    """
    Returns:calculate materials for ceiling type a
    """
    self.nabshi = self.metrazh * 0.7
    self.f_47 = self.metrazh * 3.4
    self.u_36 = self.metrazh * (self.m_aviz * 0.019)
    self.panel = self.metrazh * 1.05
    self.pich_panel = self.metrazh * 17
    self.pich_saze = self.metrazh * 12
    self.mikh_chashni = self.metrazh * 1.9
    self.ht_90 = self.metrazh * 1.9
    self.beraket = self.metrazh * 1.9
    self.clips = self.metrazh * 2.6
    self.rabet_w = self.metrazh * 0.7
    self.rolplak = self.metrazh * (0.7 * 3)
    self.data = {
            'nabshi_metr': self.nabshi,
            'f_47_metr': self.f_47,
            'u_36_metr': self.u_36,
            'panel_metr': self.panel,
            'pich_panel_dane_adad': self.pich_panel,
            'pich_saze_dane_adad': self.pich_saze,
            'mikh_chashni_dane_adad': self.mikh_chashni,
            'ht_90_adad': self.ht_90,
            'beraket_adad': self.beraket,
            'clips_adad': self.clips,
            'rabet_w_adad': self.rabet_w,
            'rolplak_adad': self.rolplak
        }
    return self.data 
    
  
  
  def round_to_selling(self, divisors):
    """ Return data adjusted by specific divisors. """
    self.salable_amount = {}
    for key, value in self.data.items():
      divisor = divisors.get(key)
      self.salable_amount[key] = round(value / divisor)
    return self.salable_amount

  '''divisors = [4,4,4,3,1000,1000,100,1,1,1,1,1]

def find_smallest_divisible(self.data.items(), divisor):
    while self.data.items() % divisor != 0:
        self.data.items() += 1
    return self.data.items()

# اضافه کردن ستون جدید به DataFrame
df2['salable_amount'] = 0

for idx, divisor in zip(self.data.items(), divisors):
    list_price.loc[idx, 'salable_amount'] = find_smallest_divisible(list_price.loc[idx, 'column2'], divisor)

print(df2)
'''

  def import_data(self):
     self.read_list = pd.read_excel('list_price.xlsx') #read a created list of material in excel that user created it


  def produce_price_data(self):
    '''produce a list of material by amount and price for user'''
    amount_items = pd.DataFrame(self.data.items(), columns=['Material', 'Amount_metr']) #extract item's with amount
    self.price_data = pd.concat([amount_items, self.read_list['mat_price'] ],  ignore_index= False, axis = 1)
    salable_amount = project.round_to_selling(divisors) 
    salable_amount_df = pd.DataFrame(list(salable_amount.items()), columns=['Material', 'Amount'])
    self.price_data['salable_amount_shakhe'] = salable_amount_df['Amount']
    self.price_data['total_price'] = self.price_data['mat_price'] * self.price_data['salable_amount_shakhe']
    return self.price_data

  def save_to_excel(self):
    file_name = f"{self.name_p}.xlsx"  # Add .xlsx extension to file name
    df = pd.DataFrame(self.price_data, columns=['Material', 'Amount_metr','salable_amount_shakhe','mat_price', 'total_price' ])  # Convert data to DataFrame with two columns
    df.to_excel(file_name, index=False)
    print(f'Data for material saved to {file_name}')


  def ceiling_typeA_price(self):
    pass

project = knauf()
project.get_data()
project.ceiling_typeA()
divisors = { 'nabshi_metr': 4,
             'f_47_metr': 4,
             'u_36_metr': 4,
             'panel_metr': 3,
             'pich_panel_dane_adad': 1000,
             'pich_saze_dane_adad': 1000,
             'mikh_chashni_dane_adad': 100,
             'ht_90_adad': 1, 
             'beraket_adad': 1, 
             'clips_adad': 1,
             'rabet_w_adad': 1,
             'rolplak_adad': 1 } 

salable_amount = project.round_to_selling(divisors) 
project.import_data()
#project.find_smallest_divisible()
project.produce_price_data()
project.ceiling_typeA_price()
project.save_to_excel()

Data for material saved to bina.xlsx

In [4]:
project.produce_price_data()

,Material,Amount_metr,mat_price,salable_amount_shakhe,total_price
0,nabshi_metr,315.0,142000,79,11218000
1,f_47_metr,1530.0,279000,382,106578000
2,u_36_metr,102.6,202000,26,5252000
3,panel_metr,472.5,1058000,158,167164000
4,pich_panel_dane_adad,7650.0,2540,8,20320
5,pich_saze_dane_adad,5400.0,2420,5,12100
6,mikh_chashni_dane_adad,855.0,35000,9,315000
7,ht_90_adad,855.0,16400,855,14022000
8,beraket_adad,855.0,34200,855,29241000
9,clips_adad,1170.0,30700,1170,35919000
10,rabet_w_adad,315.0,27100,315,8536500
11,rolplak_adad,945.0,40000,945,37800000

In [7]:
project

knauf project bina, metrazh 450 metr, andaze aviz 12 cm

In [8]:
project.data.items()

dict_items([('nabshi_metr', 315.0), ('f_47_metr', 1530.0), ('u_36_metr', 102.6), ('panel_metr', 472.5), ('pich_panel_dane_adad', 7650), ('pich_saze_dane_adad', 5400), ('mikh_chashni_dane_adad', 855.0), ('ht_90_adad', 855.0), ('beraket_adad', 855.0), ('clips_adad', 1170.0), ('rabet_w_adad', 315.0), ('rolplak_adad', 944.9999999999999)])

In [5]:
f = dict(project.data.items())

In [6]:
f.values()

dict_values([315.0, 1530.0, 102.6, 472.5, 7650, 5400, 855.0, 855.0, 855.0, 1170.0, 315.0, 944.9999999999999])