<a href="https://colab.research.google.com/github/barsamnia/algorithm_curses_raofi/blob/main/oop_knauf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

class knauf():
  def __init__(self, nabshi = None , f_47 = None , u_36 = None , panel = None, pich_panel = None, pich_saze = None ,mikh_chashni =None , ht_90 = None, beraket = None, clips = None, rabet_w = None, metrazh = int ,m_aviz = int , name_p = str, rolplak = None):

    self.nabshi = nabshi
    self.f_47 = f_47
    self.u_36 = u_36
    self.panel = panel
    self.pich_panel = pich_panel
    self.pich_saze = pich_saze
    self.mikh_chashni = mikh_chashni
    self.ht_90 = ht_90
    self.beraket = beraket
    self.clips = clips
    self.rabet_w = rabet_w
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p
    self.rolplak = rolplak
    #self.ceiling_typeA()

  def __repr__(self):
    """
    Returns:show defined class with getting data
    """
    return 'knauf project {}, metrazh {} metr, andaze aviz {} cm '.format(self.name_p,self.metrazh,self.m_aviz)


  def get_data(self):
    try :
            metrazh = int(input( "metrazh_kar  : metr  "))
    except :
            metrazh = int(input( "metrazh_kar  : metr  "))

    try :
            m_aviz = int(input("andaze aviz : cm  "))
    except :
            m_aviz = int(input("andaze aviz : cm  "))

    try :
            name_p = str(input("name proje :  "))
    except :
            name_p = str(input("name proje :  "))

    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p

  def ceiling_typeA(self):
    """
    Returns:calculate materials for ceiling type a
    """
    self.nabshi = self.metrazh * 0.7
    self.f_47 = self.metrazh * 3.4
    self.u_36 = self.metrazh * (self.m_aviz * 0.019)
    self.panel = self.metrazh * 1.05
    self.pich_panel = self.metrazh * 17
    self.pich_saze = self.metrazh * 12
    self.mikh_chashni = self.metrazh * 1.9
    self.ht_90 = self.metrazh * 1.9
    self.beraket = self.metrazh * 1.9
    self.clips = self.metrazh * 2.6
    self.rabet_w = self.metrazh * 0.7
    self.rolplak = self.metrazh * (0.7 * 3)
    self.data = {
            'nabshi_metr': self.nabshi,
            'f_47_metr': self.f_47,
            'u_36_metr': self.u_36,
            'panel_metr': self.panel,
            'pich_panel_dane_adad': self.pich_panel,
            'pich_saze_dane_adad': self.pich_saze,
            'mikh_chashni_dane_adad': self.mikh_chashni,
            'ht_90_adad': self.ht_90,
            'beraket_adad': self.beraket,
            'clips_adad': self.clips,
            'rabet_w_adad': self.rabet_w,
            'rolplak_adad': self.rolplak
        }
    return self.data 
    
  

  def save_to_excel(self):
    file_name = f"{self.name_p}.xlsx"  # Add .xlsx extension to file name
    df = pd.DataFrame(self.price_data, columns=['Material', 'Amount','mat_price', 'total_price'])  # Convert data to DataFrame with two columns
    df.to_excel(file_name, index=False)
    print(f'Data for material saved to {file_name}')

  def import_data(self):
     self.read_list = pd.read_excel('list_price.xlsx') #read a created list of material in excel that user created it


  def produce_price_data(self):
    '''produce a list of material by amount and price for user'''
    amount_items = pd.DataFrame(self.data.items(), columns=['Material', 'Amount']) #extract item's with amount
    self.price_data = pd.concat([amount_items, self.read_list['mat_price']],  ignore_index= False, axis = 1)
    self.price_data['total_price'] = self.read_list['mat_price'] * amount_items['Amount']
    return self.price_data

  

  def ceiling_typeA_price(self):
    pass

project = knauf()
project.get_data()
project.ceiling_typeA()
project.import_data()
project.produce_price_data()
project.ceiling_typeA_price()
project.save_to_excel()

#project = Knauf() 
#project.get_data() 
#project.ceiling_typeA() 
#project.import_data() 
#project.ceiling_typeA_price() 
#project.save_to_excel() 
#print(project)

Data for material saved to ziba.xlsx

In [16]:
project.ceiling_typeA_price()

In [17]:
project.data

{'nabshi_metr': 315.0,
 'f_47_metr': 1530.0,
 'u_36_metr': 384.75,
 'panel_metr': 472.5,
 'pich_panel_dane_adad': 7650,
 'pich_saze_dane_adad': 5400,
 'mikh_chashni_dane_adad': 855.0,
 'ht_90_adad': 855.0,
 'beraket_adad': 855.0,
 'clips_adad': 1170.0,
 'rabet_w_adad': 315.0,
 'rolplak_adad': 944.9999999999999}

In [20]:
project.produce_price_data()

                  Material   Amount  mat_price    price_mat
0              nabshi_metr   315.00     142000   44730000.0
1                f_47_metr  1530.00     279000  426870000.0
2                u_36_metr   384.75     202000   77719500.0
3               panel_metr   472.50    1058000  499905000.0
4     pich_panel_dane_adad  7650.00       2540   19431000.0
5      pich_saze_dane_adad  5400.00       2420   13068000.0
6   mikh_chashni_dane_adad   855.00      35000   29925000.0
7               ht_90_adad   855.00      16400   14022000.0
8             beraket_adad   855.00      34200   29241000.0
9               clips_adad  1170.00      30700   35919000.0
10            rabet_w_adad   315.00      27100    8536500.0
11            rolplak_adad   945.00      40000   37800000.0

In [27]:
project.nabshi

623.0