In [54]:
import pandas as pd
import os

class knauf():
  def __init__(self, nabshi = None , f_47 = None , u_36 = None , panel = None, pich_panel = None,
              pich_saze = None ,mikh_chashni =None , ht_90 = None, beraket = None,
              clips = None, rabet_w = None, metrazh = int ,m_aviz = int , name_p = str,
              rolplak = None):
    self.nabshi = nabshi
    self.f_47 = f_47
    self.u_36 = u_36
    self.panel = panel
    self.pich_panel = pich_panel
    self.pich_saze = pich_saze
    self.mikh_chashni = mikh_chashni
    self.ht_90 = ht_90
    self.beraket = beraket
    self.clips = clips
    self.rabet_w = rabet_w
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p
    self.rolplak = rolplak
    #self.ceiling_typeA()

  def __repr__(self):
    """ Returns:show defined class with getting data """
    return 'knauf project {}, metrazh {} metr, andaze aviz {} cm '.format(self.name_p,self.metrazh,self.m_aviz)
  
  '''getting undefaulf data from user'''
  def get_data(self):
    try :
      metrazh = int(input( "metrazh_kar  : metr  "))
    except :
      metrazh = int(input( "metrazh_kar  : metr  "))

    try :
      m_aviz = int(input("andaze aviz : cm  "))
    except :
      m_aviz = int(input("andaze aviz : cm  "))

    try :
      name_p = str(input("name proje :  "))
    except :
      name_p = str(input("name proje :  "))
      
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p

  def ceiling_typeA(self):
    """ Returns:calculate materials for ceiling type a """
    self.nabshi = self.metrazh * 0.7
    self.f_47 = self.metrazh * 3.4
    self.u_36 = self.metrazh * (self.m_aviz * 0.019)
    self.panel = self.metrazh * 1.05
    self.pich_panel = self.metrazh * 17
    self.pich_saze = self.metrazh * 12
    self.mikh_chashni = self.metrazh * 1.9
    self.ht_90 = self.metrazh * 1.9
    self.beraket = self.metrazh * 1.9
    self.clips = self.metrazh * 2.6
    self.rabet_w = self.metrazh * 0.7
    self.rolplak = self.metrazh * (0.7 * 3)
    self.data = {
            'nabshi_metr': self.nabshi,
            'f_47_metr': self.f_47,
            'u_36_metr': self.u_36,
            'panel_metr': self.panel,
            'pich_panel_dane_adad': self.pich_panel,
            'pich_saze_dane_adad': self.pich_saze,
            'mikh_chashni_dane_adad': self.mikh_chashni,
            'ht_90_adad': self.ht_90,
            'beraket_adad': self.beraket,
            'clips_adad': self.clips,
            'rabet_w_adad': self.rabet_w,
            'rolplak_adad': self.rolplak
           }
    return self.data 
  
  def create_dataframe_from_data(self):
    return self.cal_data = pd.DataFrame(self.data)

  '''Material and mat_price columns , read a created list of material in excel that user created it'''

  def import_data(self):
    if not os.path.exists('list_price.xlsx'):
        raise FileNotFoundError("The file 'list_price.xlsx' does not exist.")
    self.read_list = pd.read_excel('list_price.xlsx')

  
  def concat_data(self):
    self.knauf_list = pd.concat( [self.read_list, self.cal_data], axis = 1 )

  '''define for calculate salabale amount of materials '''
  def find_smallest_divisible(self, value, divisor):
    if divisor == 0:
        raise ValueError("Divisor cannot be zero.")
    while value % divisor != 0:
        value += 1
    return value


  def add_salable_amount(self):
    divisors = [4, 4, 4, 3, 1000, 1000, 100, 1, 1, 1, 1, 1]
    if len(self.cal_data['amount_metr']) != len(divisors):
        raise ValueError("Length of divisors does not match length of amount_metr.")
    self.salable_amounts = []
    for i, amount in enumerate(self.cal_data['amount_metr']):
        salable_amount = self.find_smallest_divisible(amount, divisors[i])
        self.salable_amounts.append(salable_amount)
    self.knauf_list['salable_amount'] = self.salable_amounts




  def save_to_excel(self):
    if not hasattr(self, 'knauf_list'):
        raise ValueError("The knauf_list has not been initialized. Please run concat_data first.")
    file_name = f"{self.name_p}.xlsx"
    self.knauf_list.to_excel(file_name)
    print(f'Data for material saved to {file_name}')

SyntaxError: invalid syntax (3390812774.py, line 82)

In [ ]:
project = knauf()
project.get_data()
project.ceiling_typeA()
project.create_dataframe_from_data()
project.import_data()
project.concat_data()
project.add_salable_amount()
project.save_to_excel()

In [18]:
project = knauf()

In [19]:
project.get_data()

In [55]:
project.ceiling_typeA()

{'nabshi_metr': 315.0,
 'f_47_metr': 1530.0,
 'u_36_metr': 384.75,
 'panel_metr': 472.5,
 'pich_panel_dane_adad': 7650,
 'pich_saze_dane_adad': 5400,
 'mikh_chashni_dane_adad': 855.0,
 'ht_90_adad': 855.0,
 'beraket_adad': 855.0,
 'clips_adad': 1170.0,
 'rabet_w_adad': 315.0,
 'rolplak_adad': 944.9999999999999}

In [56]:
project.data

{'nabshi_metr': 315.0,
 'f_47_metr': 1530.0,
 'u_36_metr': 384.75,
 'panel_metr': 472.5,
 'pich_panel_dane_adad': 7650,
 'pich_saze_dane_adad': 5400,
 'mikh_chashni_dane_adad': 855.0,
 'ht_90_adad': 855.0,
 'beraket_adad': 855.0,
 'clips_adad': 1170.0,
 'rabet_w_adad': 315.0,
 'rolplak_adad': 944.9999999999999}

In [57]:
project.create_dataframe_from_data()

In [59]:
project.cal_data

                       amount_metr
nabshi_metr                    NaN
f_47_metr                      NaN
u_36_metr                      NaN
panel_metr                     NaN
pich_panel_dane_adad           NaN
pich_saze_dane_adad            NaN
mikh_chashni_dane_adad         NaN
ht_90_adad                     NaN
beraket_adad                   NaN
clips_adad                     NaN
rabet_w_adad                   NaN
rolplak_adad                   NaN