In [ ]:
import pandas as pd
import os

class knauf():
  def __init__(self, nabshi = None , f_47 = None , u_36 = None , panel = None, pich_panel = None,
              pich_saze = None ,mikh_chashni =None , ht_90 = None, beraket = None,
              clips = None, rabet_w = None, metrazh = int ,m_aviz = int , name_p = str,rolplak = None):
    self.nabshi = nabshi
    self.f_47 = f_47
    self.u_36 = u_36
    self.panel = panel
    self.pich_panel = pich_panel
    self.pich_saze = pich_saze
    self.mikh_chashni = mikh_chashni
    self.ht_90 = ht_90
    self.beraket = beraket
    self.clips = clips
    self.rabet_w = rabet_w
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p
    self.rolplak = rolplak
    #self.ceiling_typeA()

  def __repr__(self):
    """ Returns:show defined class with getting data """
    return 'knauf project {}, metrazh {} metr, andaze aviz {} cm '.format(self.name_p,self.metrazh,self.m_aviz)

  '''getting undefaulf data from user'''
  def get_data(self):
    try :
      metrazh = int(input( "metrazh_kar  : metr  "))
    except :
      metrazh = int(input( "metrazh_kar  : metr  "))

    try :
      m_aviz = int(input("andaze aviz : cm  "))
    except :
      m_aviz = int(input("andaze aviz : cm  "))

    try :
      name_p = str(input("name proje :  "))
    except :
      name_p = str(input("name proje :  "))

    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p

  def ceiling_typeA(self):
    """ Returns:calculate materials for ceiling type A """
    self.nabshi = round(self.metrazh * 0.7)
    self.f_47 = round(self.metrazh * 3.4)
    self.u_36 = round(self.metrazh * (self.m_aviz * 0.019))
    self.panel = round(self.metrazh * 1.05)
    self.pich_panel = round(self.metrazh * 17)
    self.pich_saze = round(self.metrazh * 12)
    self.mikh_chashni = round(self.metrazh * 1.9)
    self.ht_90 = round(self.metrazh * 1.9)
    self.beraket = round(self.metrazh * 1.9)
    self.clips = round(self.metrazh * 2.6)
    self.rabet_w = round(self.metrazh * 0.7)
    self.rolplak = round(self.metrazh * (0.7 * 3))
    self.data = {
            'nabshi_metr': self.nabshi,
            'f_47_metr': self.f_47,
            'u_36_metr': self.u_36,
            'panel_metr': self.panel,
            'pich_panel_dane_adad': self.pich_panel,
            'pich_saze_dane_adad': self.pich_saze,
            'mikh_chashni_dane_adad': self.mikh_chashni,
            'ht_90_adad': self.ht_90,
            'beraket_adad': self.beraket,
            'clips_adad': self.clips,
            'rabet_w_adad': self.rabet_w,
            'rolplak_adad': self.rolplak
           }
    return self.data

  def create_dataframe_from_data(self):
    self.cal_data = pd.DataFrame(list(self.data.items()), columns = ['Materials', 'amount_metr'] )
    return self.cal_data

  ''' read a created list of material in excel that user created it ,Material and mat_price  are columns '''
  def import_data(self):
    if not os.path.exists('list_price.xlsx'):
        raise FileNotFoundError("The file 'list_price.xlsx' does not exist.")
    self.read_list = pd.read_excel('list_price.xlsx'    )


  def concat_data(self):
    self.knauf_list = pd.concat( [self.read_list, (self.cal_data['amount_metr'])], axis = 1 , )

  '''define for calculate salabale amount of materials '''
  def find_smallest_divisible(self, value, divisor):
    if divisor == 0:
        raise ValueError("Divisor cannot be zero.")
    while value % divisor != 0:
        value += 1
    return value


  def add_salable_amount(self):
    divisors = [4, 4, 4, 3, 1000, 1000, 100, 1, 1, 1, 1, 1]
    if len(self.cal_data['amount_metr']) != len(divisors):
        raise ValueError("Length of divisors does not match length of amount_metr.")
    self.salable_amounts = []
    for i, amount_metr in enumerate(self.cal_data['amount_metr']):
        salable_amount = self.find_smallest_divisible(amount_metr, divisors[i])
        self.salable_amounts.append(salable_amount)
    self.knauf_list['salable_amount'] = self.salable_amounts


  def calculate_mat_price(self):
     self.knauf_list['material_price'] = self.knauf_list['salable_amount'] * self.read_list['mat_price']


  '''
  #def add_sale_percentages():

#sum_total_price = knauf_list.sum()
#knauf_list[len(df)] = ['_', '_', '_','_', sum_total_price]

#baste_bandi_percentage =
    #if index ==  panel :
        #panel * (1 + 3.5)
    #elif index == 'nabshi' or  'f_47' or  'u_36' :
         #('nabshi' or  'f_47' or  'u_36') * (1 + 2.5)
    #else:
        #pass
#knauf_list[len(df)] = ['_', '_', '_','_', baste_bandi_percentage]

#anbar_dari_percentage = ['first_percentage'].sum() * (1+0.01)
#knauf_list[len(df)] = ['_', '_', '_','_', anbar_dari_percentage]

#maliat_afzode = anbar_dari_percentage * (1 + 0.1)
#knauf_list[len(df)] = ['_', '_', '_','_', maliat_afzode]

  '''

  def save_to_excel(self):
    if not hasattr(self, 'knauf_list'):
        raise ValueError("The knauf_list has not been initialized. Please run concat_data first.")
    file_name = f"{self.name_p}.xlsx"
    self.knauf_list.to_excel(file_name)
    print(f'Data for material saved to {file_name}')

project = knauf()
project.get_data()
project.ceiling_typeA()
project.create_dataframe_from_data()
project.import_data()
project.concat_data()
project.add_salable_amount()
project.save_to_excel()
project.calculate_mat_price()

Data for material saved to kourosh.xlsx

In [ ]:
project = knauf()
project.get_data()
project.ceiling_typeA()
project.create_dataframe_from_data()
project.import_data()
project.concat_data()
project.add_salable_amount()
project.save_to_excel()
project.calculate_mat_price()

In [ ]:
project = knauf()

In [ ]:
project.get_data()

In [ ]:
project.ceiling_typeA()

{'nabshi_metr': 521,
 'f_47_metr': 2530,
 'u_36_metr': 551,
 'panel_metr': 781,
 'pich_panel_dane_adad': 12648,
 'pich_saze_dane_adad': 8928,
 'mikh_chashni_dane_adad': 1414,
 'ht_90_adad': 1414,
 'beraket_adad': 1414,
 'clips_adad': 1934,
 'rabet_w_adad': 521,
 'rolplak_adad': 1562}

In [ ]:
project.create_dataframe_from_data()

                 Materials  amount_metr
0              nabshi_metr          521
1                f_47_metr         2530
2                u_36_metr          551
3               panel_metr          781
4     pich_panel_dane_adad        12648
5      pich_saze_dane_adad         8928
6   mikh_chashni_dane_adad         1414
7               ht_90_adad         1414
8             beraket_adad         1414
9               clips_adad         1934
10            rabet_w_adad          521
11            rolplak_adad         1562

In [ ]:
project.import_data()

In [ ]:
project.read_list

                  Material  mat_price
0              nabshi_metr     142000
1                f_47_metr     279000
2                u_36_metr     202000
3               panel_metr    1058000
4     pich_panel_dane_adad       2540
5      pich_saze_dane_adad       2420
6   mikh_chashni_dane_adad      35000
7               ht_90_adad      16400
8             beraket_adad      34200
9               clips_adad      30700
10            rabet_w_adad      27100
11            rolplak_adad      40000

In [ ]:
project.concat_data()

In [ ]:
project.knauf_list

                  Material  mat_price  amount_metr
0              nabshi_metr     142000          521
1                f_47_metr     279000         2530
2                u_36_metr     202000          551
3               panel_metr    1058000          781
4     pich_panel_dane_adad       2540        12648
5      pich_saze_dane_adad       2420         8928
6   mikh_chashni_dane_adad      35000         1414
7               ht_90_adad      16400         1414
8             beraket_adad      34200         1414
9               clips_adad      30700         1934
10            rabet_w_adad      27100          521
11            rolplak_adad      40000         1562

In [ ]:
project.add_salable_amount()
#has a big problem very long to excute

In [ ]:
project

knauf project moein1, metrazh 744 metr, andaze aviz 39 cm

In [ ]:
project.knauf_list

,Material,mat_price,amount_metr,salable_amount,material_price
0,nabshi_metr,142000,315,316,44872000
1,f_47_metr,279000,1530,1532,427428000
2,u_36_metr,202000,385,388,78376000
3,panel_metr,1058000,472,474,501492000
4,pich_panel_dane_adad,2540,7650,8000,20320000
5,pich_saze_dane_adad,2420,5400,6000,14520000
6,mikh_chashni_dane_adad,35000,855,900,31500000
7,ht_90_adad,16400,855,855,14022000
8,beraket_adad,34200,855,855,29241000
9,clips_adad,30700,1170,1170,35919000
10,rabet_w_adad,27100,315,315,8536500
11,rolplak_adad,40000,945,945,37800000

In [ ]:
len(df)

17

In [ ]:
import pandas as pd

# ساخت دیتا فریم نمونه
data = {
    'Column1': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
    'Column2': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60],
    'Column3': [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24],
    'Column4': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Column5': [7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84]
}

df = pd.DataFrame(data)

# جمع زدن ستون پنجم
sum_col5 = df['Column5'].sum()
df.loc[len(df)] = ['-', '-', '-', '-', sum_col5]  # درج جمع در ردیف جدید
df.rename(index={len(df)-1: 'sum'}, inplace=True)

# اضافه کردن ۳ درصدهای مختلف
percentages = [0.03, 0.06, 0.09]
for perc in percentages:
    df.loc[len(df)] = ['-', '-', '-', '-', sum_col5 * (1 + perc)]
    df.rename(index={len(df)-1: f'After {int(perc*100)}%'}, inplace=True)

# محاسبه جمع کل پس از مالیات
total_after_taxes = df.iloc[-len(percentages):, df.columns.get_loc('Column5')].sum()
df.loc[len(df)] = [ '-', '-', '-', '-', total_after_taxes]
df.rename(index={len(df)-1: 'Total After Taxes'}, inplace=True)

print(df)

                  Column1 Column2 Column3 Column4  Column5
0                      10       5       2       1     7.00
1                      20      10       4       2    14.00
2                      30      15       6       3    21.00
3                      40      20       8       4    28.00
4                      50      25      10       5    35.00
5                      60      30      12       6    42.00
6                      70      35      14       7    49.00
7                      80      40      16       8    56.00
8                      90      45      18       9    63.00
9                     100      50      20      10    70.00
10                    110      55      22      11    77.00
11                    120      60      24      12    84.00
sum                     -       -       -       -   546.00
After 3%                -       -       -       -   562.38
After 6%                -       -       -       -   578.76
After 9%                -       -       -       -   595.14
Total After Taxes       -       -       -       -  1736.28