In [181]:
import pandas as pd
import os

class knauf():
  def __init__(self, nabshi = None , f_47 = None , u_36 = None , panel = None, pich_panel = None,
              pich_saze = None ,mikh_chashni =None , ht_90 = None, beraket = None,
              clips = None, rabet_w = None, metrazh = int ,m_aviz = int , name_p = str,
              rolplak = None):
    self.nabshi = nabshi
    self.f_47 = f_47
    self.u_36 = u_36
    self.panel = panel
    self.pich_panel = pich_panel
    self.pich_saze = pich_saze
    self.mikh_chashni = mikh_chashni
    self.ht_90 = ht_90
    self.beraket = beraket
    self.clips = clips
    self.rabet_w = rabet_w
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p
    self.rolplak = rolplak
    #self.ceiling_typeA()

  def __repr__(self):
    """ Returns:show defined class with getting data """
    return 'knauf project {}, metrazh {} metr, andaze aviz {} cm '.format(self.name_p,self.metrazh,self.m_aviz)
  
  '''getting undefaulf data from user'''
  def get_data(self):
    try :
      metrazh = int(input( "metrazh_kar  : metr  "))
    except :
      metrazh = int(input( "metrazh_kar  : metr  "))

    try :
      m_aviz = int(input("andaze aviz : cm  "))
    except :
      m_aviz = int(input("andaze aviz : cm  "))

    try :
      name_p = str(input("name proje :  "))
    except :
      name_p = str(input("name proje :  "))
      
    self.metrazh = metrazh
    self.m_aviz = m_aviz
    self.name_p = name_p

  def ceiling_typeA(self):
    """ Returns:calculate materials for ceiling type a """
    self.nabshi = self.metrazh * 0.7
    self.f_47 = self.metrazh * 3.4
    self.u_36 = self.metrazh * (self.m_aviz * 0.019)
    self.panel = self.metrazh * 1.05
    self.pich_panel = self.metrazh * 17
    self.pich_saze = self.metrazh * 12
    self.mikh_chashni = self.metrazh * 1.9
    self.ht_90 = self.metrazh * 1.9
    self.beraket = self.metrazh * 1.9
    self.clips = self.metrazh * 2.6
    self.rabet_w = self.metrazh * 0.7
    self.rolplak = self.metrazh * (0.7 * 3)
    self.data = {
            'nabshi_metr': self.nabshi,
            'f_47_metr': self.f_47,
            'u_36_metr': self.u_36,
            'panel_metr': self.panel,
            'pich_panel_dane_adad': self.pich_panel,
            'pich_saze_dane_adad': self.pich_saze,
            'mikh_chashni_dane_adad': self.mikh_chashni,
            'ht_90_adad': self.ht_90,
            'beraket_adad': self.beraket,
            'clips_adad': self.clips,
            'rabet_w_adad': self.rabet_w,
            'rolplak_adad': self.rolplak
           }
    return self.data 
  
  def create_dataframe_from_data(self):
    self.cal_data = pd.DataFrame(list(data.items()), columns = ['materials', 'amount'] )
    self.cal_data.set_index('materials', inplace=True)
    return self.cal_data

  '''Material and mat_price columns , read a created list of material in excel that user created it'''

  def import_data(self):
    if not os.path.exists('list_price.xlsx'):
        raise FileNotFoundError("The file 'list_price.xlsx' does not exist.")
    self.read_list = pd.read_excel('list_price.xlsx', index_col= 'Material'	)

  
  def concat_data(self):
    self.knauf_list = pd.concat( [self.read_list, self.cal_data['mat_price']], axis = 0, ignore_index= True )

  '''define for calculate salabale amount of materials '''
  def find_smallest_divisible(self, value, divisor):
    if divisor == 0:
        raise ValueError("Divisor cannot be zero.")
    while value % divisor != 0:
        value += 1
    return value


  def add_salable_amount(self):
    divisors = [4, 4, 4, 3, 1000, 1000, 100, 1, 1, 1, 1, 1]
    if len(self.cal_data['amount_metr']) != len(divisors):
        raise ValueError("Length of divisors does not match length of amount_metr.")
    self.salable_amounts = []
    for i, amount in enumerate(self.cal_data['amount_metr']):
        salable_amount = self.find_smallest_divisible(amount, divisors[i])
        self.salable_amounts.append(salable_amount)
    self.knauf_list['salable_amount'] = self.salable_amounts




  def save_to_excel(self):
    if not hasattr(self, 'knauf_list'):
        raise ValueError("The knauf_list has not been initialized. Please run concat_data first.")
    file_name = f"{self.name_p}.xlsx"
    self.knauf_list.to_excel(file_name)
    print(f'Data for material saved to {file_name}')

In [ ]:
project = knauf()
project.get_data()
project.ceiling_typeA()
project.create_dataframe_from_data()
project.import_data()
project.concat_data()
project.add_salable_amount()
project.save_to_excel()

In [133]:
project = knauf()

In [136]:
project.get_data()

In [170]:
project.ceiling_typeA()

{'nabshi_metr': 525.0,
 'f_47_metr': 2550.0,
 'u_36_metr': 641.25,
 'panel_metr': 787.5,
 'pich_panel_dane_adad': 12750,
 'pich_saze_dane_adad': 9000,
 'mikh_chashni_dane_adad': 1425.0,
 'ht_90_adad': 1425.0,
 'beraket_adad': 1425.0,
 'clips_adad': 1950.0,
 'rabet_w_adad': 525.0,
 'rolplak_adad': 1574.9999999999998}

In [171]:
project.create_dataframe_from_data()

                          amount
materials
nabshi_metr               525.00
f_47_metr                2550.00
u_36_metr                 641.25
panel_metr                787.50
pich_panel_dane_adad    12750.00
pich_saze_dane_adad      9000.00
mikh_chashni_dane_adad   1425.00
ht_90_adad               1425.00
beraket_adad             1425.00
clips_adad               1950.00
rabet_w_adad              525.00
rolplak_adad             1575.00

In [172]:
project.cal_data

                          amount
materials
nabshi_metr               525.00
f_47_metr                2550.00
u_36_metr                 641.25
panel_metr                787.50
pich_panel_dane_adad    12750.00
pich_saze_dane_adad      9000.00
mikh_chashni_dane_adad   1425.00
ht_90_adad               1425.00
beraket_adad             1425.00
clips_adad               1950.00
rabet_w_adad              525.00
rolplak_adad             1575.00

In [173]:
project.import_data()

In [174]:
project.read_list

                  Material  mat_price
0              nabshi_metr     142000
1                f_47_metr     279000
2                u_36_metr     202000
3               panel_metr    1058000
4     pich_panel_dane_adad       2540
5      pich_saze_dane_adad       2420
6   mikh_chashni_dane_adad      35000
7               ht_90_adad      16400
8             beraket_adad      34200
9               clips_adad      30700
10            rabet_w_adad      27100
11            rolplak_adad      40000

In [182]:
project.concat_data()

In [183]:
project.knauf_list

                  Material  mat_price    amount
0              nabshi_metr   142000.0       NaN
1                f_47_metr   279000.0       NaN
2                u_36_metr   202000.0       NaN
3               panel_metr  1058000.0       NaN
4     pich_panel_dane_adad     2540.0       NaN
5      pich_saze_dane_adad     2420.0       NaN
6   mikh_chashni_dane_adad    35000.0       NaN
7               ht_90_adad    16400.0       NaN
8             beraket_adad    34200.0       NaN
9               clips_adad    30700.0       NaN
10            rabet_w_adad    27100.0       NaN
11            rolplak_adad    40000.0       NaN
12                     NaN        NaN    525.00
13                     NaN        NaN   2550.00
14                     NaN        NaN    641.25
15                     NaN        NaN    787.50
16                     NaN        NaN  12750.00
17                     NaN        NaN   9000.00
18                     NaN        NaN   1425.00
19                     NaN        NaN   1425.00
20                     NaN        NaN   1425.00
21                     NaN        NaN   1950.00
22                     NaN        NaN    525.00
23                     NaN        NaN   1575.00

In [177]:
project.add_salable_amount()
#has a big problem very long to excute

KeyError: 'amount_metr'